.App {
    min-height: 100vh;
}

.App-refresh {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-refresh {
        animation: App-refresh-spin infinite 1s linear;
    }
}

.App-main {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: bold;
    max-width: 900px;
    margin: 12px auto;
    overflow: auto;
    padding: 0 18px;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin: 12px auto;
}

.App-link {
    color: #61dafb;
}

@keyframes App-refresh-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
