#root {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 100vh;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px auto;
    overflow: auto;
    flex-shrink: 0;
}

.App-main {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 12px auto;
    padding: 0 18px;
}
