name: UI-Schema CRA CI

env:
    DOCKER_BUILDKIT: 1

on:
    push:
        branches: [master, develop]
    pull_request:
        branches: [master, develop]
    workflow_dispatch:

jobs:
    build_node:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [14.x]
        steps:
            -   uses: actions/checkout@v2
            -   name: Set Branch
                id: vars
                run: echo ::set-output name=short_ref::${GITHUB_REF#refs/*/}
            -   name: Use Node.js ${{ matrix.node-version }}
                uses: actions/setup-node@v1
                with:
                    node-version: ${{ matrix.node-version }}
                    registry-url: 'https://registry.npmjs.org'

            -   name: Cache CI node_modules
                uses: actions/cache@v2
                env:
                    cache-name: cache-node-modules
                with:
                    # npm cache files are stored in `~/.npm` on Linux/macOS
                    path: ~/.npm
                    key: ${{ runner.os }}-build-${{ env.cache-name }}

            -   name: Setup packages
                run: |
                    npm ci

            # (old cra not compatible with esm/modern Node.js)
            #-   name: Run tests
            #    run: |
            #        npm test

            -   name: Build
                run: |
                    npm run build
